### INTRODUCTION TO DATAFRAME .. CSV DOWNLOAD FROM TAGOO FINANCE HISTORICAL DATA

In [3]:
import pandas as pd
import yfinance as yf
from datetime import datetime, timedelta

In [11]:
df=yf.download("AAPL",period="300d")

[*********************100%***********************]  1 of 1 completed

In [12]:
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-04-15,133.820007,135.000000,133.639999,134.500000,133.509171,89347100
2021-04-16,134.300003,134.669998,133.279999,134.160004,133.171677,84922400
2021-04-19,133.509995,135.470001,133.339996,134.839996,133.846634,94264200
2021-04-20,135.020004,135.529999,131.809998,133.110001,132.129395,94812300
2021-04-21,132.360001,133.750000,131.300003,133.500000,132.516525,68847100

In [14]:
df.Close

Date
2021-04-15    134.500000
2021-04-16    134.160004
2021-04-19    134.839996
2021-04-20    133.110001
2021-04-21    133.500000
                 ...
2022-06-15    135.429993
2022-06-16    130.059998
2022-06-17    131.559998
2022-06-21    135.869995
2022-06-22    136.565002
Name: Close, Length: 300, dtype: float64

In [15]:
df.describe

<bound method NDFrame.describe of                   Open        High         Low       Close   Adj Close  \
Date
2021-04-15  133.820007  135.000000  133.639999  134.500000  133.509171
2021-04-16  134.300003  134.669998  133.279999  134.160004  133.171677
2021-04-19  133.509995  135.470001  133.339996  134.839996  133.846634
2021-04-20  135.020004  135.529999  131.809998  133.110001  132.129395
2021-04-21  132.360001  133.750000  131.300003  133.500000  132.516525
...                ...         ...         ...         ...         ...
2022-06-15  134.289993  137.339996  132.160004  135.429993  135.429993
2022-06-16  132.080002  132.389999  129.039993  130.059998  130.059998
2022-06-17  130.070007  133.080002  129.809998  131.559998  131.559998
2022-06-21  133.419998  137.059998  133.320007  135.869995  135.869995
2022-06-22  134.789993  137.755005  133.910004  136.565002  136.565002

               Volume
Date
2021-04-15   89347100
2021-04-16   84922400
2021-04-19   94264200
2021-04-20   94812300
2021-04-21   68847100
...               ...
2022-06-15   91533000
2022-06-16  108123900
2022-06-17  134118500
2022-06-21   80785400
2022-06-22   50249702

[300 rows x 6 columns]>

In [17]:
df.dtypes

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [19]:
df.loc["2021-04-16"]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-04-16,134.300003,134.669998,133.279999,134.160004,133.171677,84922400
2021-04-19,133.509995,135.470001,133.339996,134.839996,133.846634,94264200
2021-04-20,135.020004,135.529999,131.809998,133.110001,132.129395,94812300
2021-04-21,132.360001,133.750000,131.300003,133.500000,132.516525,68847100
2021-04-22,133.039993,134.149994,131.410004,131.940002,130.968018,84566500
...,...,...,...,...,...,...
2022-06-15,134.289993,137.339996,132.160004,135.429993,135.429993,91533000
2022-06-16,132.080002,132.389999,129.039993,130.059998,130.059998,108123900
2022-06-17,130.070007,133.080002,129.809998,131.559998,131.559998,134118500
2022-06-21,133.419998,137.059998,133.320007,135.869995,135.869995,80785400
2022-06-22,134.789993,137.755005,133.910004,136.565002,136.565002,50249702

In [20]:
df.loc["2021-04-16":]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-04-16,134.300003,134.669998,133.279999,134.160004,133.171677,84922400
2021-04-19,133.509995,135.470001,133.339996,134.839996,133.846634,94264200
2021-04-20,135.020004,135.529999,131.809998,133.110001,132.129395,94812300
2021-04-21,132.360001,133.750000,131.300003,133.500000,132.516525,68847100
2021-04-22,133.039993,134.149994,131.410004,131.940002,130.968018,84566500
...,...,...,...,...,...,...
2022-06-15,134.289993,137.339996,132.160004,135.429993,135.429993,91533000
2022-06-16,132.080002,132.389999,129.039993,130.059998,130.059998,108123900
2022-06-17,130.070007,133.080002,129.809998,131.559998,131.559998,134118500
2022-06-21,133.419998,137.059998,133.320007,135.869995,135.869995,80785400
2022-06-22,134.789993,137.755005,133.910004,136.565002,136.565002,50249702

### RANGE TIME DATA

In [21]:
df.loc["2021-04-16":"2021-5-30"]

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-04-16,134.300003,134.669998,133.279999,134.160004,133.171677,84922400
2021-04-19,133.509995,135.470001,133.339996,134.839996,133.846634,94264200
2021-04-20,135.020004,135.529999,131.809998,133.110001,132.129395,94812300
2021-04-21,132.360001,133.750000,131.300003,133.500000,132.516525,68847100
2021-04-22,133.039993,134.149994,131.410004,131.940002,130.968018,84566500
2021-04-23,132.160004,135.119995,132.160004,134.320007,133.330490,78657500
2021-04-26,134.830002,135.059998,133.559998,134.720001,133.727539,66905100
2021-04-27,135.009995,135.410004,134.110001,134.389999,133.399963,66015800
2021-04-28,134.309998,135.020004,133.080002,133.580002,132.595917,107760100
2021-04-29,136.470001,137.070007,132.449997,133.479996,132.496658,151101000
2021-04-30,131.779999,133.559998,131.070007,131.460007,130.491547,109839500
2021-05-03,132.039993,134.070007,131.830002,132.539993,131.563583,75135100
2021-05-04,131.190002,131.490005,126.699997,127.849998,126.908150,137564700
2021-05-05,129.199997,130.449997,127.970001,128.100006,127.156319,84000900
2021-05-06,127.889999,129.750000,127.129997,129.740005,128.784241,78128300
2021-05-07,130.850006,131.259995,129.479996,130.210007,129.470306,78973300
2021-05-10,129.410004,129.539993,126.809998,126.849998,126.129395,88071200
2021-05-11,123.500000,126.269997,122.769997,125.910004,125.194740,126142800
2021-05-12,123.400002,124.639999,122.250000,122.769997,122.072563,112172300
2021-05-13,124.580002,126.150002,124.260002,124.970001,124.260078,105861300
2021-05-14,126.250000,127.889999,125.849998,127.449997,126.725990,81918000
2021-05-17,126.820000,126.930000,125.169998,126.269997,125.552689,74244600
2021-05-18,126.559998,126.989998,124.779999,124.849998,124.140755,63342900
2021-05-19,123.160004,124.919998,122.860001,124.690002,123.981674,92612000
2021-05-20,125.230003,127.720001,125.099998,127.309998,126.586777,76857100
2021-05-21,127.820000,128.000000,125.209999,125.430000,124.717461,79295400
2021-05-24,126.010002,127.940002,125.940002,127.099998,126.377975,63092900
2021-05-25,127.820000,128.320007,126.320000,126.900002,126.179115,72009500
2021-05-26,126.959999,127.389999,126.419998,126.849998,126.129395,56575900
2021-05-27,126.440002,127.639999,125.080002,125.279999,124.568314,94625600
2021-05-28,125.570000,125.800003,124.550003,124.610001,123.902115,71311100

In [22]:
df.iloc[0]

Open         1.338200e+02
High         1.350000e+02
Low          1.336400e+02
Close        1.345000e+02
Adj Close    1.335092e+02
Volume       8.934710e+07
Name: 2021-04-15 00:00:00, dtype: float64

### last date data

In [23]:
df.iloc[-1]

Open         1.347900e+02
High         1.377550e+02
Low          1.339100e+02
Close        1.365650e+02
Adj Close    1.365650e+02
Volume       5.024970e+07
Name: 2022-06-22 00:00:00, dtype: float64